 /* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    /* cuộn trang web mượt hơn */
}  
/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết

*/

/*
1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng
*/

/* Common ( dùng chung ) */

.clear{
        clear: both;
}

.text-white {
        color: #fff !important;
}

.text-center{
        text-align: center !important;
}
.pull-right{ 
        /* kéo sang phải */
        float: right;
}
.row {
        margin-left: -8px;
        margin-right: -8px;
}
.mt-8{
        margin-top: 8px;
}
.mt-16{
        margin-top: 16px;
}
.mt-32{
        margin-top: 32px;
}
.btn{
        background-color: #000;
        color: #fff;
        text-decoration: none;
        padding: 11px 16px;
        display: inline-block;
        margin-top: 15px;
        border: none;
        text-align: center; 
        appearance: none;
        /* Hỗ trợ cho các trình duyệt khác */
        -webkit-appearance: none;
        /* Hỗ trợ trình duyệt Safiri */
}
.btn:hover{
        color: #000;
        background-color: #ccc;
        cursor: pointer;
}
.row::after {
        content: "";
        display: block;
        clear: both;
}
.colum {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
}
.colum-full{
        width: 100%;
}
.colum-third{
        width: 33.33333%;
}
.colum-half {
        width: 50%;
}
/* ----------------------------------------------------------------------- */
/* Main */
#main{

}
#header{
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height: 46px;
        background-color: black;
        z-index: 1;
        /* z-index : để header nổi trên ảnh background */
        /* overflow: hidden; */
}
#nav{
        display: inline-block;
}
#nav ,.subnav{
        list-style-type: none;
}
#nav > li{
        display: inline-block;
}
#nav li{
        
        position: relative;
}

#nav > li > a{
        color: #fff;
        text-transform: uppercase;
        /* uppercase viết hoa các thẻ li cấp 1 */
}
#nav li a {
        display: block;
        text-decoration: none;
        line-height: 46px; 
        /* line-height điêu chỉnh độ cao chữ vừa với độ cao của khung */
        padding:0 24px;
}
#nav li:hover .subnav{
        display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
        color: black;
        background-color: #ccc;

}
#nav .subnav {
        min-width: 160px;
        display: none;  
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0;
        box-shadow: 0 0 10px rgba(0 , 0 ,0 ,0.3);
}
#nav .subnav a{
        color: black;
        padding: 0 12px;
        line-height: 38px;
}
#nav .nav-icon{
        font-size: 14px;
}

#header .mobile-menu-btn{
        position:absolute;
        right: 0;
        top: 0;
        display: none;
}
#header .mobile-menu-btn,
#header .search-button{
        float: right;
        padding: 0px 21px;     
}
#header .search-button:hover {
        background-color: #f44336;
        cursor: pointer;
}
#header .mobile-menu-btn:hover{
        background-color: #ccc;
}
#header .menu-icon:hover{
        color: #000;
}
#header .menu-icon,
#header .search-icon{
        color: #fff;
        font-size: 20px;
        line-height: 46px;
}
#slider{
        position: relative;
        margin-top: 46px;
        padding-top: 50%;
        background: url('../img/Slider/chicago.jpg') top center/ cover no-repeat;
}
#slider .text-content{
        position: absolute;
        bottom: 48px;
        color: #fff;
        /* Cách căn giữa
        Cách 1 :  
        left : 50%;
        transform: translateX(-50%);
        text-align: center;
        Cách 2 : */
        width: 100%;
        text-align: center;
        /* Cách 3 :
        left: 0;
        right: 0; */
        
        
}
#slider .text-heading{
        font-weight: 500;
        /* độ dày */
        font-size: 24px;
}
#slider .text-description{
        font-size: 15px;
        margin-top: 25px;
        text-shadow: 0 0 2px #000;
}
#content{

}
#content .content-section{
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 64px 0 112px; 
        /* 112px bằng 64px ban đầu cộng thêm 48px sau khi xóa trên placelist */
        padding-left: 16px;
        padding-right: 16px;
        

}
#content .section-heading{
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4px;
        /* letter-spacing dùng để tạo khoảng cách giữa các chữ */
        text-align: center;
}
#content .section-slogan{
        font-size: 15px;
        text-align: center;
        margin-top: 25px;
        opacity: 0.6;
        /* opacity làm mờ chữ */
        font-style: italic;
        /* chữ nghiêng */
}
#content .about-text{
        font-size: 15px;
        margin-top: 25px;
        text-align: justify;
        /* justify dùng để canh đều 2 bên chữ như CTR J  */
        line-height: 1.4;
        /* độ cao giữa các dòng */
}
#content .members-list{
        padding-top: 32px;
}
#content .members-name{
        font-size: 15px;      
}

#content .members-img{
        margin-top: 15px;
        width: 154px;
        border-radius: 4px;
}
.tour-section{
        background-color: black;
}
.tickets-list{
        background-color: #fff;
        margin-top: 40px;
}
.tickets-list li{
        color: #757575;
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
        list-style-type: none;
}
.tickets-list .sold-out{        
        color: #fff;
        background-color: #f44336;
        padding: 3px 4px;
        margin-left: 16px;
}
.tickets-list .sold-out{
        color: #fff;
        background-color: #f44336;
        padding: 3px 4px;
        margin-left: 16px;
}
.tickets-list .quantity{
        float: right;
        width: 24px;
        height: 24px;
        background-color: #000;
        color: #fff;
        border-radius: 50%;
        /* tạo khối tròn */
        text-align: center;
        line-height: 24px;
        margin-top: -4px;
}
/* Places */
.places-list{
        margin-top: 16px ;
        
}
.places-img{
        width: 100%;
        display: block;
        /* display block xóa line giữa ảnh và body */
}
.places-img:hover{
        opacity: 0.6;
}
.places-body{
        background-color: #fff;
        padding: 16px;
        font-size: 15px;

}
.places-heading{
        font-size: 15px;
        font-weight: 600;
}
.places-time{
        margin-top: 15px;  
        color: #757575;
}
.places-desc{
        margin-top: 15px;
        line-height: 1.4;
}

.modal{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0 , 0 ,0 ,0.4);
        display: none;
        /* display: flex giúp sắp xếp, bố cục các thành phần khối (block) một cách dễ dàng, linh hoạt hơn */
        align-items: center;
        /*Căn chỉnh phần tử con theo chính giữa*/
        justify-content: center;
        /* *Căn chỉnh hàng (cột) theo chính giữa */

}
.modal.open{
        display: flex;
}

.modal-container{
        background: #fff;
        width: 900px;
        max-width: calc(100% - 36px);
        /* max-width: calc(100% - 36px); Tính chiều ngang phù hợp k bị kẹp khi đóng trình duyệt */
        min-height: 200px;
        position: relative;
        animation: modalFadein ease 0.5s;
}
header.modal-header {
        background: #009688;
        height: 130px;
        display: flex;
        /* display: flex giúp sắp xếp, bố cục các thành phần khối (block) một cách dễ dàng, linh hoạt hơn */
        align-items: center;
        /*Căn chỉnh phần tử con theo chính giữa*/
        justify-content: center;
        /* *Căn chỉnh hàng (cột) theo chính giữa */
        font-size: 30px;
        color: white;
}
.modal-tibag{
        margin-right: 15px;
}
.modal-close{
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        padding: 12px;
        cursor: pointer;
        opacity: 0.8;
        text-transform: uppercase;
        /* Tăng độ dày viền chữ */
}
.modal-body{
        padding: 16px;
}
.modal-label{
        display: block;
        font-size: 15px;
        margin-bottom: 12px;
}
.modal-input{
        border:#ccc 1px solid;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 24px;
}
.modal-close:hover{
        opacity: 1;
}

#buy-tickets{
        background: #009688;
        border: none;
        color: #fff;
        width: 100%;
        padding: 12px;
        cursor: pointer;
        text-transform: uppercase;
}
#buy-tickets:hover{
        opacity: 0.6;
}

.modal-footer{
        padding: 16px;
        text-align: right;
}
.modal-footer a{
        color: aquamarine;
}
@keyframes modalFadein{
        from {
                opacity: 0.5;
                transform:translateY(-140px);
        }

        to{
                opacity: 1;
                transform:translateY(0);
        }
}
/* Contact Form */
.Contact-content{
        margin-top: 48px;
}
.Contact-info {
        font-size: 18px;
        line-height: 1.6;
}
.Contact-info i [class*="ti-"]{
        width: 30px;
        display: inline-block;
}
.Contact-info a:hover{
        color: #3636a1;
}
.Contact-form{
        font-size: 15px;
}
.Contact-form .form-control{
        padding:10px;
        width: 100%;
        border: #ccc 1px solid;
}
/* Map section */
.map-section img {
        width: 100%;
}
#footer{
        padding: 64px 16px;
        text-align: center;
}
#footer .social {
        font-size: 24px;       
}
#footer .social a{
        text-decoration: none;
        color:rgba(0 , 0 ,0 ,0.6);
}
#footer .social a:hover{
        color:rgba(0 , 0 ,0 ,0.4);
}
#footer .copyright{
        margin-top: 15px;
        color:rgba(0 , 0 ,0 ,0.6);
}
#footer .copyright a{
        color:rgba(0 , 0 ,0 ,0.6);
}